$primary: #9a9836;
$secondary: #0c1f25;


header {
background-image: url(../images/birdseyebeach.jpeg);
background-position: center;
height: 150px;
}

.logo {
  height: 150px;
}

.search, .menu {
  height: 140px;
  float: right;
  padding-top: 2%;
  margin: 0;
}

.container {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2px solid $secondary;
}

.imagebox {
  height: 150px;
  width: 10%;
}

.imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.imagebox img:hover {
  opacity: 1;
}
.recommendrow {
  display: inline;
  height: 200px;
  width: 100%;
  border-top: $primary;
}

.titlestext {
  height: 150px;
  width: 50%;
  background-color: white;
  padding-left: 8%;
  padding-right: 8%;
  float: left;

.recbox {
  height: 150px;
  width: 8.33%;
  float: right;
  position: fixed;
}

.recbox img {
  clear: both;
  width: 100%;
  height: 75px;
  object-fit: contain;
  position: relative;
}

// .2 img {
//   height: 75px;
//   width: 100%;
// }


}
p {
  font-size: 46px;
font-family: sans-serif;
text-transform: uppercase;}


@media (max-width: 767px) {
  .imagebox {
    height: 100px;
    width: 25%;
  }
  .recbox {
    height: 150px;
    width: 25%;
  }
  .hide .2 {
    display: none;
  }
}
